# Objects
*.o

# Executables
*.app
*.exe
*.out

# Binaries
*.bin
*.cubin

# Libraries
*.a
*.lib
*.so

# Build and cache
CMakeCache.txt
*.check_cache
*.includecache
*.internal
*.make
*.marks
*.cmake
Makefile

# Logs
*.log

# Directories
.vs/
bin/
out/
CMakeFiles/