# Objects
*.o

# Executables
*.app
*.exe
*.out

# Binaries
*.bin
*.cubin

# Libraries
*.a
*.lib
*.so

# Build and cache
CMakeCache.txt
*.check_cache
*.includecache
*.internal
*.make
*.marks
*.cmake
Makefile

# Visual Studio
*.db
*.suo
CMakeSettings.json

# Logs
*.log

# Dear ImGUI
imgui.ini

# Directories
.vs/
bin/
out/
CMakeFiles/
build/